<%= render "shared/header" %>

<div class="item-list">
  <div class="my-post"><%= @nickname %>さんの投稿一覧</div>
    <ul class='item-lists'>
      <% if @novels.present? %>
        <% @novels.each do |novel|%>
          <li class='list'>
            <%= link_to "/novels/#{novel.id}" do %>
              <div class='item-img-content'>
                 <%= image_tag novel.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                  <h3 class='item-name'>
                  <%= novel.title %>
                  </h3>
                <div class='item-price'>
                  <span><%= novel.author %><br></span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <div class="novel-nil"><%= @nickname %>さんが投稿された小説はありません</div>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>